# =========================
#  ENTORNO VIRTUAL
# =========================
.venv/
venv/
env/

# =========================
#  PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.pdb

# =========================
#  CONFIGURACIONES LOCALES
# =========================
*.env
*.ini
*.cfg
*.db
instance/

# =========================
#  ARCHIVOS DE DESARROLLO
# =========================
.DS_Store
*.log

# =========================
#  FLASK
# =========================
*.sqlite
*.sqlite3

# =========================
#  MODELOS Y RESULTADOS RL
# =========================
models/
results/
static/images/*.png

# =========================
#  EDITORES
# =========================
.vscode/
.idea/
