{% extends "base.html" %}

{% block title %}Conceptos básicos - Algoritmos de Clasificación{% endblock %}

{% block content %}
  <div class="card mb-4">
    <div class="card-header bg-info text-white">
      <h2 class="h5 mb-0">Definición</h2>
    </div>
    <div class="card-body">
      <p class="card-text">Un algoritmo de clasificación es un método de aprendizaje supervisado mediante el cual el modelo intenta asignar una etiqueta (o categoría) a cada instancia de datos de acuerdo con patrones aprendidos de un conjunto de ejemplos ya etiquetados.  
        Su objetivo principal es predecir la clase a la que pertenece una nueva instancia, basándose en ejemplos previos.</p>
    </div>
  </div>

    <div class="text-center mb-4">
    <iframe width="600" height="400" frameBorder="0" src="https://www.mindmeister.com/maps/public_map_shell/3823513564/algoritmos-de-clasificaci-n?width=600&height=400&z=auto&no_share=1&no_logo=1" scrolling="no" style="overflow:hidden;margin-bottom:5px">
      Tu navegador no puede mostrar marcos. Visita 
      <a href="https://www.mindmeister.com/3823513564/algoritmos-de-clasificaci-n" target="_blank">Algoritmos de Clasificación</a> en MindMeister.
    </iframe>
  </div>
{% endblock %}